<div class="container-fluid">
    <div class="row">
        <div>
            <app-header menu-items="" login-info=""> </app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 footer-margin">
            <ng-outlet>
            </ng-outlet>
        </div>
        <data-loading class="sblocloader"></data-loading>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div>
                <nav class="navbar navbar-default navbar-fixed-bottom app-footer">
                    <p class="text-center text-muted"><strong>&copy; Sapient, 2016</strong></p>
                </nav>
            </div>
        </div>
    </div>
</div>
