
    <div class="row">
        <div class="col-md-12">
           <div class="add-account">
                <h4 class="text-center">
                <strong>Add Collateral Account</strong>
                </h4>
                <p class="text-danger" ng-if="$ctrl.noAccountSelectedMessage"><b>Select atleast 1 account to Proceed</b></p>
                <div class="row" ng-if="!$ctrl.collateralAccountList.length && !$ctrl.fetchingDataFlag">
                    <div class="col-sm-11 col-sm-offset-1">
                        <p class="pull-left text-danger"><b>No Collateral Account Found !!!</b></p>
                    </div>
                </div>
                <div class="listbox" ng-if="!!$ctrl.collateralAccountList.length">
                    <ul class="list-group checked-list-box ">
                        <li class="list-group-item " ng-repeat="collateralAccount in $ctrl.collateralAccountList ">
                          <input  ng-disabled="$ctrl.isInputControls" type="checkbox" ng-click= "$ctrl.enableSecuritySection(collateralAccount)" ng-model="collateralAccount.selected" value="collateralAccount.name" ng-checked ="collateralAccount.Checked"> {{collateralAccount.name}}</li> 

                    </ul>
                </div>
                <!-- <div class="col-sm-12 col-md-12 text-center" ng-if="!!$ctrl.collateralAccountList.length" > -->
                <div class="col-sm-12 col-md-12 text-center" ng-if="false">
                    <button  ng-if="$ctrl.isCalculateCollateral" ng-disabled="!$ctrl.isCollateralAccountSelected()" class="btn btn-primary " ng-click="$ctrl.enableSecuritySection()" ng-if="isCalculateCollateral">Generate Collateral Value</button>
                </div>
            </div> 
        </div>
        
    </div>

